* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-1 {
    background-color: #8701CF;
}

.bg-2 {
    background-color: #FF7B29;
}

.title {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 120px;
    color: #FFFFFF;
}


p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header #logo {
    width: 15%;
}

header #logo {
    margin-top: 30px;
}

.col-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 15px;
}

.col {
    display: flex;
    justify-content: space-around;
}

.col .box {
    width: 50%;
    padding: 88px 60px;
}

.col .box p {
    padding-bottom: 80px;
    font-size: 30px;

}



.col div.bg1,
.col div.bg2 {
    padding: 72px 0;

}

.section-1 {
    padding: 88px 0 300px 0;
    background-image: url(./../images/imagem-01.png);
}

.section-2 {
    background-image: url(./../images/imagem-02.png);
    padding: 88px 0;
}

.section-1,
.section-2 {
    background-position: right;
    background-size: 40%;
    background-repeat: no-repeat;
}

.section-1 img,
.section-3 img {
    width: 100%;
}

.img-section-1 {
    display: none;
}

.img-section-2 {
    display: none;
}

.btn {
    border-radius: 5px;
    width: 100%;
    background-color: #8701CF;
    border: 0;
    padding: 18px 0;
    font-size: 20px;
    color: #ffffff;
}

.btn:hover {
    background-color: #9C04ED;
}

.btn:disabled {
    background-color: #D0B7DE;
}

form {
    margin: 0 auto;
}

.form-item {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form-item label {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 20px;
    margin-bottom: 15px;
}

.form-item input {
    width: 100%;
    display: block;
    font-size: 30px;
    padding: 7px 15px;
    border-radius: 5px;
    border: 0;
}

.form-item input[type='checkbox'] {
    width: 30px;
    height: 30px;
    padding: 7px 15px;
    border-radius: 5px;
    border: 0;
    margin-right: 10px;
}

.form-item .checkbox {
    display: flex;
}

.form-item .checkbox label {
    line-height: 30px;
}

#form-error-name,
#form-error-email {
    color: #ff0000;
}

#form-error-name,
#form-error-email {
    display: none;
}

label,
button {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.sentMessage {
    width: 52%;
    position: fixed;
    top: 8px;
    right: 8px;
    background: #DFDFDF;
    border-radius: 4px;
}

#sentMessage {
    opacity: 0;
}

.sentMessage p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 76px;
    color: #3EA90B;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .col-2 {
        display: block;
    }

    .col-2 .box {
        width: 100%;
    }

    .section-1 {
        padding: 160px 0;
        background-image: none;
    }

    .section-2 {
        padding: 160px 0;
        background-image: none;
        padding-bottom: 580px;
        position: relative;
    }

    .col,
    .img-section-1,
    .img-section-2 {
        display: block;
    }

    .col .box {
        width: 100%;
        padding: 50px 25px;
    }


    .img-section-2 img {
        width: 70%;
        position: absolute;
        right: 0;
    }

    .form-item {
        width: 100%;
        margin: 0 auto;
    }

    .sentMessage {
        width: 70%;
    }



    .sentMessage p {
        font-size: 15px;

    }

    header #logo {
        width: 40%;
    }

    .form-item {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
    .form-item label {
        margin-top: 15px;
        line-height: 45px;
    }
    
  
    
    .form-item .checkbox {
        margin-bottom: 15px;
    }

}

@media only screen and (max-width: 540px) {

    .section-1 {
        padding: 70px 0;
    }
    .section-2 {
        padding: 160px 0;
        background-image: none;
        padding-bottom: 380px;
        position: relative;
    }

    .section-3 img {
        width: 100%;
    }

    .form-item {
        width: 100%;
    }

    .sentMessage {
        width: 98%;
        top: 3px;
        left: 1%;
        right: 1%;
        
    }




    .sentMessage p {
        font-size: 15px;

    }

   
}